<% include ../layout %>
<div class="container">
  <h3>Admin site</h3>
  <hr>
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group-item">
        <a class="link" href="/admin/clients">
            <h4 class="list-group-item-heading">
              <i class="fa fa-address-card"></i> CLIENTES
            </h4>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="list-group">
      <div class="list-group-item">
        <a class="link" href="/admin/users">
            <h4 class="list-group-item-heading">
              <i class="fa fa-users"></i> USUARIOS
            </h4>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
<% include ../footer %>
