<% include ../layout %>
<div class="row">
  <h3>Admin site</h3>
  <hr>
  <div class="col-md-6">
    <a href="/admin/clients" >
      <button type="button" class="btn btn-primary" name="button">Clients</button>
    </a>
  </div>
  <div class="col-md-6">
    <a href="/admin/users">
      <button type="button" class="btn btn-primary" name="button">Users</button>
    </a>
  </div>
</div>
<% include ../footer %>
