
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#textDate').html('<i class="fa fa-calendar"></i> '+moment().format('LL'));
      });
    </script>
  </body>
</html>
