<% include ./layout %>
  <div class="row">
    <h3>Bienvenido, <%= user.name %></h3>
    <hr>
    <h4>
    Sistema de administración, gestión y registro de contenidos documentales
    </h4>
    <hr>
    <a href="/clients">
      <div width="300px" heigth="300px" style="margin: 0 auto">
        <span>
          Ir a tus clientes
        </span>
      </div>
    </a>
  <!--
    <div class="list-group">
      <% for(var i = 0; i < clients.length; i++) { %>
        <div class="list-group-item">
              <h4 class="list-group-item-heading">
                <%= clients[i].name %>
              </h4>
              <p class="list-group-item-text">
                <%= clients[i].desc %>
              </p>
        </div>
      <% } %>
    </div>
  -->
  </div>
<% include ./footer %>
