<% include ../layout %>
<div class="container">
  <h3>Clientes
    <% if(user.role==='admin') { %>
      <button class="btn btn-success" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </button>
    <% } %>
  </h3>
  <hr>
  <div class="list-group">
    <% for(var i = 0; i < clients.length; i++) { %>
      <div class="list-group-item">
        <a href="/clients/<%= clients[i]._id %>">
            <h4 class="list-group-item-heading">
              <i class="fa fa-university"></i> <%= clients[i].name %>
            </h4>
            <p class="list-group-item-text">
              <%= clients[i].desc %>
            </p>
        </a>
      </div>

    <% } %>
  </div>
</div>
<% if(user.role === 'admin') { %>
  <div id="myModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Agregar nuevo cliente</h4>
        </div>
        <div class="modal-body">
          <% include ../admin/clients/new %>
        </div>
      </div>
    </div>
  </div>
<% } %>
<% include ../footer %>
