<% include ../layout %>
<div class="row">
  <h3>Clientes
    <% if(user.role==='admin') { %>
      <a href="/admin/clients/new">
        +
      </a>
    <% } %>
  </h3>
  <hr>
  <div class="list-group">
    <% for(var i = 0; i < clients.length; i++) { %>
      <div class="list-group-item">
        <a href="/clients/<%= clients[i]._id %>"
            <h4 class="list-group-item-heading">
              <%= clients[i].name %>
            </h4>
            <p class="list-group-item-text">
              <%= clients[i].desc %>
            </p>
      </div>
    <% } %>
  </div>
</div>
<% include ../footer %>
