<% include ../layout %>
<div class="row">
  <h3> Proyecto <%= projects[0].name %>
  <span class="pull-right">
    <%=client.name%>
  </span>

  </h3>
  <hr>
  <div class="list-group">
    <div class="list-group-item">
      <a class="link" href="#">
          <h4 class="list-group-item-heading">
            <i class="fa fa-folder"></i> Inicio
          </h4>
      </a>
    </div>
    <div class="list-group-item">
      <a class="link" href="#">
          <h4 class="list-group-item-heading">
            <i class="fa fa-folder"></i> Planificacion
          </h4>
      </a>
    </div>
    <div class="list-group-item">
      <a class="link" href="#">
          <h4 class="list-group-item-heading">
            <i class="fa fa-folder"></i> Ejecución
          </h4>
      </a>
    </div>
    <div class="list-group-item">
      <a class="link" href="#">
          <h4 class="list-group-item-heading">
            <i class="fa fa-folder"></i> Seguimiento y Control
          </h4>
      </a>
    </div>
    <div class="list-group-item">
      <a class="link" href="#">
          <h4 class="list-group-item-heading">
            <i class="fa fa-folder"></i> Trancisión
          </h4>
      </a>
    </div>
    <div class="list-group-item">
      <a class="link" href="#">
          <h4 class="list-group-item-heading">
            <i class="fa fa-folder"></i> Otros
          </h4>
      </a>
    </div>
  </div>
</div>
<% include ../footer %>
