<% include ../layout %>
<div class="row">
  <h3> Proyecto <%= projects[0].name %>
  <span class="pull-right">
    <%=client.name%>
  </span>

  </h3>
  <hr>
  <div class="list-group">
    <div class="list-group-item">
      <a class="link" href="#">
          <h4 class="list-group-item-heading">
            Inicio
          </h4>
      </a>
    </div>
    <div class="list-group-item">
      <a class="link" href="#">
          <h4 class="list-group-item-heading">
            Planificacion
          </h4>
      </a>
    </div>
    <div class="list-group-item">
      <a class="link" href="#">
          <h4 class="list-group-item-heading">
            Ejecución
          </h4>
      </a>
    </div>
    <div class="list-group-item">
      <a class="link" href="#">
          <h4 class="list-group-item-heading">
            Seguimiento y Control
          </h4>
      </a>
    </div>
    <div class="list-group-item">
      <a class="link" href="#">
          <h4 class="list-group-item-heading">
            Trancisión
          </h4>
      </a>
    </div>
    <div class="list-group-item">
      <a class="link" href="#">
          <h4 class="list-group-item-heading">
            Otros
          </h4>
      </a>
    </div>
  </div>
</div>
<% include ../footer %>
