body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-image: url(/images/background.png)
  -moz-background-size: cover
  -webkit-background-size: cover
  background-size: cover
  background-position: top center !important
  background-repeat: no-repeat !important
  background-attachment: fixed
  width: 100%
  height: 100%
  min-height: 100%
a
  color: #00B7FF
  text-decoration: none !important
a:hover
  color: #F17300
button
  margin: 1%
.link
  text-decoration: none

.wrapper
  padding-bottom: 1%
.docWrapper
  padding: 1%
  height: 90vh
.menuItem
  border-bottom: 4px solid #00B7FF
  li a
    color: #3E7CB1
.logo
  width: 125px
  height: 55px
  padding: none
.navbar
  margin-bottom: 0px !important
.navbar-default
  background-color: #054A91 !important
  border-bottom: 2px solid #F17300
  color:white
  padding-right: none !important
.navbar-collapse
  padding-right: 0px
  padding-left: 0px
.navbar-default .navbar-nav
  li
    a
      color: white
  li:hover
    a
      color: white
.menuDate
  padding: 13px
#textDate
  border: 1px solid #00B7FF
  color: white
  border-radius: 5px
  padding: 3px

.menuItem:hover
  border-bottom: 5px solid #F17300

.menuButton
  padding: 2%
  color: white
  border-radius: 5px
  background-color: #0B2161
.form-control:focus
  border-color: #054A91
  box-shadow: inset 0 1px 1px rgba(5, 74, 145, 0.4), 0 0 8px rgba(5, 74, 145, 0.4)
.profileForm
  height: 600px
  margin: 0 auto
  img
    width: 100px
    height: 100px
    margin-right: 1%
.normalForm
  margin: 0 auto
  input
    margin-bottom: 2%
  input[type=checkbox]
    border: 1px solid #F17300
  label
    border: 1px solid #054A91
    padding: 1%
    color: #054A91
    border-radius: 5px

.specialLabel
  border: 1px solid #F17300
  padding: 1.5%
  margin: 1%
  color: #F17300
  border-radius: 5px
footer
  background-color: #224680
  color: #FFF
.footerMsg
  padding: 0.7%
  margin: 0 auto

.dirInfo
  padding: 1%

.filebar
  background-color: #054A91
  height: 91vh
  border-radius: 0px 5px 5px 0px
  color: white

.box__dragndrop, .box__uploading, .box__success, .box__error
  display: none

input[type=checkbox]
  display: none
  + label span
    display: inline-block
    width: 19px
    height: 19px
    margin: -2px 10px 0 0
    vertical-align: middle
    background: url(/images/check_radio_sheet.png) left top no-repeat
    cursor: pointer

input[type=checkbox]:checked
  + label span
    background: url(/images/check_radio_sheet.png) -19px top no-repeat

.userPhotoMin
  width: 25px
  height: 25px
  border-radius: 50%
.singleComment
  margin-bottom: 3%
  width: 100%
  height: 25%
.comments
  height: 225px
  overflow: auto
.commentsBox

.commentsInput
  height: 10vh
