  <form action="/admin/clients/new" method="POST" enctype="multipart/form-data">
    <div class="form-group normalForm">
      <label for="logo">Logo: </label>
      <input type="file" name="logo">
      <label for="name">Nombre: </label>
      <input type="text" name="name" placeholder="" class="form-control">
      <label for="desc">Descripcion: </label>
      <input type="textfield" name="desc" placeholder="" class="form-control">
      <label for="address">Direccion: </label>
      <input type="text" name="address" placeholder="" class="form-control">
      <label for="name">Dominio de correo: </label>
      <input type="text" name="domainEmail" placeholder="" class="form-control">
    </div>
    <hr>
    <button type="submit" class="btn btn-success" name="button">Crear</button>
  </form>
