<form action="/admin/clients/<%=client._id%>/projects/new" method="post">
  <div class="form-group normalForm">
    <label for="name">Nombre </label>
    <input type="text" name="name" placeholder="" class="form-control">
    <div class="form-group">
     <label for="role">Rol</label>
     <br>
     <br>
     <input type="checkbox" id="specialist" name="roles" value="specialist" />
     <label for="specialist">
       <span></span>Especialista
     </label>

     <input type="checkbox" id="manager" name="roles" value="manager"/>
     <label for="manager">
       <span></span>Gerente
     </label>

     <input type="checkbox" id="admin" name="roles" value="admin"/>
     <label for="admin">
       <span></span>Administrador
     </label>
    </div>
    <label for="address">Descripción </label>
    <input type="text" name="desc" placeholder="" class="form-control">
  </div>
  <hr>
  <button type="submit" class="btn btn-success" name="button">Crear</button>
</form>
