<% include ../../layout %>
<div class="container">
  <h3>Crear proyecto</h3>
  <form action="/admin/clients/<%=client._id%>/projects/new" method="post">
    <div class="form-group normalForm">
      <label for="name">Nombre </label>
      <input type="text" name="name" placeholder="" class="form-control">
      <div class="form-group">
       <label class="checkbox-inline"for="role">Rol</label>
       <br>
       <input type="checkbox" name="roles" value="specialist">Especialista</input>
       <input type="checkbox" name="roles" value="manager">Gerente</input>
       <input type="checkbox" name="roles" value="admin">Administrador</input>
      </div>
      <label for="address">Descripción </label>
      <input type="text" name="desc" placeholder="" class="form-control">
    </div>
    <button type="submit" class="btn btn-success" name="button">Crear</button>
    <a href="/">
      <button type="button" class="btn btn-primary" name="button">Cancelar</button>
    </a>
  </form>
</div>
<% include ../../footer %>
