<% include ../../layout %>
  <h1>Crear usuario</h1>
  <hr>
  <form action="/admin/users/create" method="post">
    <div class="form-group normalForm">
      <label for="username">Nombre de usuario </label>
      <input type="text" name="username" placeholder="Enter Username" class="form-control">
      <label for="email">Correo </label>
      <input type="text" name="email" placeholder="Enter your mail" class="form-control">
      <div class="form-group">
       <label for="role">Rol </label>
       <select class="form-control" name="role">
         <option value="specialist">Especialista</option>
         <option value="manager">Gerente</option>
         <option value="admin">Administrador</option>
       </select>
      </div>
      <div class="form-group">
       <label for="role">Trabajando en </label>
       <select class="form-control" name="working_on">
         <% for(var i = 0; i < clients.length; i++) { %>
         <option value="<%= clients[i]._id %>"> <%= clients[i].name %></option>
         <% } %>
       </select>
      </div>
      <label for="password1">Contraseña </label>
      <input type="password" name="password1" placeholder="Enter password" class="form-control">
      <label for="password2">Repite la contraseña </label>
      <input type="password" name="password2" placeholder="Verify password" class="form-control">
      <label for="name">Nombre </label>
      <input type="text" name="name" placeholder="Name" class="form-control">
      <label for="lastname">Apellido </label>
      <input type="text" name="lastname" placeholder="Lastname" class="form-control">
      <label for="phone">Teléfono </label>
      <input type="text" name="phone" placeholder="Phone" class="form-control">
      <button type="submit" class="btn btn-success pull-right" name="button"> Crear </button>
      <a href="/">
        <button type="button" class="btn btn-danger pull-right" name="button">Cancelar</button>
      </a>
    </div>
  </form>
<% include ../../footer %>
